.menu¨{

    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #66b3b8;
    padding: 3px;
    width: 100%;
}

.menu ul{
    list-style-type: none;
    text-align: center;
}

.menu li{
    display: inline;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.menu li a{
    padding: 2px 7px 2px 7px;
    color: black;
    background-color: #66b3b8;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #a2c4c6;
    color: black;
}